<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Requests</title>
</head>
<body>
  <h1>Requests</h1>
  <p class="page_description">You can see all your lovely requests here.</p>

 <div>
  
  <div id="left">
  <h4> Requests I've Made </h4>
    <ul>
        <div>
         
        </div>
      <li>Request made 1</li>
      <li>Request made 2</li>
      <li>Request made 3</li>
    </ul>
  </div>
  <div id="right">
  <h4> Request's I've Received</h4>
    <ul>
      <li>Request received 1</li>
      <li>Request received 2</li>
      <li>Request received 3</li>
    </ul>
  </div>
</div>

  

  

</body>
</html>
