<h1> Request successful!</h1>

<div class="space_card">
  <h2 class="each_space_name"><%= @space[0].name %></h2>
  <h4 class="each_space_price">Total: £<%= @space[0].price %></h4>

  <div>
    <p class="each_space_description"><%= @space[0].description %></p>
  </div>
</div>