<h1>Welcome to SEAD X BnB!</h1>

<h4>Where would you like to stay?</h4>

<p> New user? </p>
<a href="/user/new">
  <button>Sign up</button>
</a>

<p> Returning user? </p>
<a href="/user/login">
  <button>Log in</button>
</a>