
<h1 class="homepage_heading">Welcome to MakersBnB</h1>


<div class="wrap">
  <div class="search">
    <input  type="text" class="search_term" placeholder="Where are you going?">
    <button type="submit" class="search_button">
      <i class="fa fa-search fa-spin"></i>
    </button>
  </div>
</div>

<div class="user_account">
  <div class="sign_up">
    <p> New user? </p>
    <a href="/user/new">
      <button>Sign up</button>
    </a>
  </div>

  <div class="log_in">
    <p> Returning user? </p>
    <a href="/user/login">
      <button>Log in</button>
    </a>
  </div>
</div>
