<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MakersBnB</title>
</head>
<body>
  <nav class="nav-main">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/spaces">Spaces</a>
    <a class="nav-link" href="/requests">Requests</a>           
  <br>
  <br>
  </nav>
  <% if @user %>
    <form action="/user/signout" method="post">
      <input type="submit" value="Sign out" />
    </form>
  <% end %>
  <%= yield %>
</body>