
<body>
  <% @result.each do |result| %>
    <div>
      <div style="height: 50px; border: 2px solid black;"><%= result['name'] %></div>
      <div style="height: 50px; border: 2px solid black;"><%= result['description'] %></div>
      <div style="height: 50px; border: 2px solid black;"><%= result['price'] %></div>
    </div>
  <% end %>
</body>



