<h1>Log in</h1>
<form action="/user/login" method="post">
  <label class="label" for="email">Email: </label>
  <input class="input_new_user input_user_email" name="email" maxlength="60" required placeholder="name@example.com" />
  <label class="label" for="password">Password: </label>
  <input class="input_new_user input_password" type="password" name="password" required placeholder="password" />
  <input class="btn btn-add-user" type="submit" value="Log in">
</form>