<h1>Registration</h1>
<form action="/user/new" method="post">
  <label class="label" for="name">Name: </label>
  <input class="input_new_user input_user_name" type="text" name="name" maxlength="60" required placeholder="John Smith" />
  <label class="label" for="email">Email: </label>
  <input class="input_new_user input_user_email" name="email" maxlength="60" required placeholder="name@example.com" />
  <label class="label" for="password">Password: </label>
  <input class="input_new_user input_password" type="password" maxlength="20" name="password" required placeholder="password" />
  <input class="btn btn-add-user" type="submit" value="Sign Up">
</form>