<main class="space-info">
<h1 class="title">About This Space</h1>

<h2 class="each_space_name"><%= @space[0].name %></h2>
<h4 class="each_space_price">Total: £<%= @space[0].price %></h4>


<div>
  <p class="each_space_description"><%= @space[0].description %></p>
</div>

<form action="/requests/<%= @space[0].id %>" method="post">
    <button>Request to book</button>
</form>
</main>
