<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>List all spaces</title>
</head>
<body>
  <nav class="nav-main">
    <a class="nav-link" href="/spaces">Spaces</a>
    <a class="nav-link" href="/">Hello, World</a>
  </nav>
  <main class="spaces">
  <h1 class="title">Explore our Spaces</h1>
  <% @spaces.each do |space| %>
    <section class="space_card">
      <h4 class="space_name">
        <a href="/spaces/<%= space['id']%>"><%= space['name']%></a>
      </h4>
      <p class="space_description">
        <%= space['description'] %>
      </p>
      <span class="space_price">
        £<%= space['price'] %> per night
      </span>
    </section>
  <% end %>
  </main>
</body>



