<h1>List a Space</h1>
<form class="form_new_space" action="/spaces/new" method="post">
  <label class="label" for="name">Name: </label>
  <input class="input_new_space input_space_name" type="text" name="name" maxlength="60" required placeholder="Cosy Apartment">
  <label class="label" for="description">Description: </label>
  <textarea class="input_new_space input_space_description" name="description" maxlength="240" rows="4" cols="50" required placeholder="Tell us a bit more about your space"></textarea>
  <label class="label" for="price_night">Price Per Night: </label>
  <input class="input_new_space input_space_price" type="number" name="price_night" required placeholder="50">
  <input class="btn btn-add-space" type="submit" value="Add Space">
</form>
