
<main class="space-info">
<h1 class="title">Properties to match your search</h1>
  <% @space_available.each do |space| %>
    <section class="space_card">
      <h4 class="space_name">
       <%= space['name']%>
      </h4>
     
      <p class="space_description">
        <%= space['description'] %>
      </p>

      <span class="space_price">
        £<%= space['price'] %> per night
      </span>
      <p>
      <a href="/spaces/<%= space['id']%>">See space details</a>
      </p>

    </section>
  <% end %>
</main>